html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Lato', sans-serif;;
    margin: 0;
    background: #fff;
    color: #333;
}

main {
    flex: 1;
}

.fondo {
    text-align: center;
    background-image: url("./img/fondo.jpg");
    background-size: cover;       /* Para que ocupe toda la pantalla */
   /* background-position:;  /* Centrada */
    background-repeat: no-repeat; /* Que no se repita */
    color: white;
    padding: 2rem 1rem;
    font-weight: bold;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 1rem;
}

.imagen img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
}

#error {
    text-align: center;
    color: red;
    font-weight: bold;
}


.titulo-principal {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    color: white; 
}

.subtitulo {
    font-weight: bold;
}

.music-floating-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #8e44ad; /* violeta elegante */
    color: white;
    font-size: 1.8rem;
    font-family: 'Great Vibes', cursive; /* Fuente decorativa */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.music-floating-button:hover {
    transform: scale(1.1);
    background-color: #732d91; /* tono más oscuro al pasar el mouse */
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}
